body{
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registration-container {
  margin-top: 45px;
  width: 330px;
  border-radius: 8px;
  border: none;
  box-shadow: 15px 20px 20px rgba(0, 0, 0, .3), inset 4px 4px 10px white;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .3), inset -4px -4px 10px white;
  transition: 0.2s;
  overflow: hidden;
  border-radius: 20px;
  background: #e5e5e5;
  transition: 0.2s;
  padding: 25px;
  border: 0.5px solid ;
}

h2 {
  margin-top: -10px;
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .3), inset -4px -4px 10px white;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

.submit-button {
  width: 100px;
  padding: 10px;
  background-color: #e5e5e5;
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background-color 0.3s ease;
  box-shadow: 15px 10px 15px rgba(0, 0, 0, .3), inset 4px 4px 10px white;
}

.submit-button:hover {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .3), inset -4px -4px 10px white;
}

.register-message {
  text-align: center;
  color: #2a8e42;
  margin-top: 20px;
  font-size: 18px;
}
